body {
    font-family: "Gotham Narrow SSm A", "Gotham Narrow SSm B", -apple-system, "Segoe UI", sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: var(--baseline);
    color: var(--text-color);
    min-height: 100vh;
}

@media (--collapse) {
    body {
        font-size: 16px;
    }

    .-mobile-sidebar-visible body {
        overflow: hidden;
    }
}
