.article {
    max-width: 55em;
    padding: var(--double-baseline) var(--double-baseline) var(--baseline);
}

@media (--almost-collapse) {
    .article {
        padding: var(--double-baseline) var(--baseline);
    }
}

@media (--collapse) {
    .article {
        max-width: 100%;
        padding: var(--baseline);
    }
}

.article h1 {
    color: #1b3747;
    font-size: 2.5em;
    line-height: calc(var(--baseline) * 1.5);
    font-weight: 600;
    margin-bottom: calc(var(--baseline) * 1.5);
}

.article h2 {
    position: relative;
    margin-top: var(--double-baseline);
    margin-bottom: var(--baseline);
    font-size: 1.2em;
    font-weight: bold;
    color: color(var(--text-color) lightness(15%));
}

.article h1 + h2 {
    margin-top: calc(var(--baseline) * 1.5);
}

.article h3 {
    position: relative;
    margin-top: var(--double-baseline);
    margin-bottom: var(--baseline);
    font-size: .9em;
    font-weight: bold;
    color: color(var(--text-color) lightness(15%));
    text-transform: uppercase;
}

.article h2 .anchor-link,
.article h3 .anchor-link {
    display: inline-block;
    border: none;
    padding-left: .4em;
    color: var(--gray);
}

.article h2 .anchor-link:before,
.article h3 .anchor-link:before {
    content: '#';
}

.article p {
    margin-bottom: var(--baseline);
}

.article ul,
.article ol {
    margin-bottom: var(--baseline);
    list-style: none;
    margin-left: 1.5em;
}

.article li {
    position: relative;
    margin-bottom: var(--half-baseline);
}

.article li:last-child {
    margin-bottom: 0;
}

.article ol {
    counter-reset: ol;
}

.article ol > li:before,
.article ul > li:before {
    display: block;
    position: absolute;
    top: 0;
    font-weight: bold;
    color: color(var(--text-color) lightness(65%));
}

.article ol > li:before {
    counter-increment: ol;
    content: counter(ol) ". ";
    left: -1.5em;
    font-size: 14px;
}

.article ul > li:before {
    left: -1em;
    content: "•";
}

.article ul ul,
.article ul ol,
.article ol ol,
.article ol ul {
    margin-left: 2.2em;
    margin-top: var(--half-baseline);
    margin-bottom: 0;
}

.article a {
    border-bottom: 2px solid var(--blue-border-color);
    color: var(--link-color);
}

.article strong {
    font-weight: bold;
    color: color(var(--text-color) lightness(15%));
}

.article em {
    font-style: italic;
}

.article pre {
    padding: var(--half-baseline) 2em;
    border-top: 1px solid var(--blue-border-color);
    border-bottom: 1px solid var(--blue-border-color);
    margin: calc(var(--baseline) - 1px) -.3em;
    font-family: Menlo, "Courier New", Courier, monospace;
    font-size: .8em;
    background-color: var(--light-background-color);
    color: var(--code-color);
    overflow: auto;
}

.article code {
    display: inline-block;
    background-color: #f5fafb;
    font-family: Menlo, "Courier New", Courier, monospace;
    font-size: .8em;
    border: 1px solid #ecf1f3;
    border-radius: 2px;
    padding: .25em;
    line-height: 1;
}

.article code:not(.hljs) {
    color: var(--code-color);
}

.article pre code {
    display: block;
    font-size: 1em;
    background-color: transparent;
    border: none;
    border-radius: 0;
    padding: 0;
    line-height: var(--baseline);
    overflow: visible !important; /* highlight.js override */
}

.article__footer {
    font-size: .7em;
    color: var(--gray);
    max-width: 55em;
    padding: 0 var(--double-baseline) var(--baseline);

    & a {
        text-decoration: underline;
    }
}

@media (--almost-collapse) {
    .article__footer {
        padding: 0 var(--baseline) var(--baseline);
    }
}
