:root {
    --baseline: 28px;
    --double-baseline: calc(var(--baseline) * 2);
    --triple-baseline: calc(var(--baseline) * 3);
    --half-baseline: calc(var(--baseline) / 2);

    --sidebar-width: 30vw;
    --container-width: 760px;
    --z-sidebar: 5;
    --z-max: 10;

    --text-color: #3e4657;
    --blue: #007696;
    --link-color: #22a4c9;
    --blue-border-color: #e8f6fa;
    --light-background-color: #f5fafb;
    --code-color: #48595d;
    --gray: #cbcfd0;
    --gold: #ebddc0;
    --broken-white: #fffcf8;
    --broken-gray: #ede8e0;
    --red: #cc430b;
    --almost-white: #e1eff3;
    --subtle-blue: #f4f7f7;
}

@custom-media --almost-collapse (max-width: 1000px);
@custom-media --collapse (max-width: 800px);
