.article {
    max-width: 55em;
    padding: var(--double-baseline) 3em;
}

.article h1 {
    color: #1b3747;
    font-size: 2.5em;
    line-height: calc(var(--baseline) * 1.5);
    font-weight: 600;
    margin-bottom: calc(var(--baseline) * 1.5);
}

.article h2 {
    position: relative;
    margin-top: var(--double-baseline);
    margin-bottom: var(--baseline);
    font-weight: bold;
    font-size: 1.2em;
}

.article h3 {
    position: relative;
    margin-top: var(--double-baseline);
    margin-bottom: var(--baseline);
    font-weight: bold;
    font-size: .9em;
    text-transform: uppercase;
}

.article h2 .anchor-link,
.article h3 .anchor-link {
    display: inline-block;
    border: none;
    padding-left: .4em;
    color: var(--gray);
}

.article h2 .anchor-link:before,
.article h3 .anchor-link:before {
    content: '#';
}

.article p {
    margin-bottom: var(--baseline);
}

.article ul {
    list-style: disc;
    margin-bottom: var(--baseline);
    margin-left: 1.5em;
}

.article a {
    border-bottom: 2px solid var(--blue-border-color);
    color: var(--link-color);
}

.article strong {
    font-weight: bold;
}

.article em {
    font-style: italic;
}

.article pre {
    padding: var(--half-baseline) 2em;
    border-top: 1px solid var(--blue-border-color);
    border-bottom: 1px solid var(--blue-border-color);
    margin: calc(var(--baseline) - 1px) -.3em;
    font-family: Menlo, "Courier New", Courier, monospace;
    font-size: .8em;
    background-color: var(--light-background-color);
    color: var(--code-color);
    overflow: auto;
}

.article code {
    display: inline-block;
    background-color: #f5fafb;
    font-family: Menlo, "Courier New", Courier, monospace;
    font-size: .8em;
    border: 1px solid #ecf1f3;
    border-radius: 2px;
    padding: .25em;
    line-height: 1;
}

.article code:not(.hljs) {
    color: var(--code-color);
}

.article pre code {
    display: block;
    font-size: 1em;
    background-color: transparent;
    border: none;
    border-radius: 0;
    padding: 0;
    line-height: var(--baseline);
    overflow: visible !important; /* highlight.js override */
}

@media (--collapse) {
    .article {
        max-width: 100%;
        padding: var(--baseline);
    }
}
