.home__header {
    color: white;
    padding: var(--triple-baseline) 0 var(--triple-baseline);
    margin-bottom: var(--double-baseline);
}

.home__header__inner {
    max-width: 45em;
    padding: 0 var(--baseline);
    margin: 0 auto;
}

.home__logo {
    width: 6em;
    margin-bottom: var(--baseline);
}

.home__title {
    font-size: 3em;
    font-weight: bold;
    line-height: 1;
}

.home__meat {
    max-width: 45em;
    padding: 0 var(--baseline);
    margin: 0 auto;
}

.home__introduction {
    margin-bottom: var(--double-baseline);
}

.home__credits {
    padding: var(--double-baseline) 0 var(--baseline);
    font-size: .6em;
    color: var(--gray);
}
