.layout {
    display: flex;
}

.layout__sidebar {
    flex: 0 0 25vw;
    min-height: 100vh;
    background-color: #1480a1;
    background-image: url('../images/background.jpg');
    background-attachment: fixed;
    background-size: auto 100vh;
    color: white;
    text-align: right;
}

.layout__main {
    flex: 1;
}
