.menu__item {
    font-size: 17px;
}

.menu__item.-active {
    font-weight: 500;
}

.menu__subtitle {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    font-size: .8em;
    font-weight: 500;
}

.menu--home {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu--home .menu__section {
    flex-basis: calc(50% - var(--baseline) / 2);
    margin-right: var(--baseline);
    margin-bottom: var(--baseline);
    padding: calc(var(--baseline) - 6px) var(--baseline) var(--baseline);
    border: 2px solid var(--broken-gray);
    border-radius: 2px;
    background-color: white;
}

.menu--home .menu__section:nth-child(even) {
    margin-right: 0;
}

.menu--home .menu__subtitle {
    font-size: .7em;
    color: #8e8b87;
}

.menu--sidebar .menu__item {
    font-size: .9em;
    color: var(--almost-white);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .15);
}

.menu--sidebar .menu__item.-active {
    color: white;
    text-shadow: none;
}

.menu--sidebar .menu__subtitle {
    padding: 0 .5em;
    margin-right: -.1em;
    margin-left: -.1em;
    border-radius: 2px;
    top: -.2em;
    line-height: var(--baseline);
    color: white;
    background-color: rgba(0, 0, 0, .075);
}

.menu--sidebar .menu__section {
    margin-bottom: var(--double-baseline);
}

.menu--sidebar .menu__section:last-child {
    margin-bottom: 0;
}

@media (--collapse) {
    .menu--home .menu__section {
        flex-basis: 100%;
        margin-right: 0;
    }
}
