.menu__item {
    font-size: 17px;

    &.-active {
        font-weight: 500;
    } 
}

.menu__section {
    margin-bottom: var(--double-baseline);
}

.menu__section:last-child {
    margin-bottom: 0;
}

.menu__subtitle {
    position: relative;
    display: inline-block;
    padding: 0 .5em;
    margin-right: -.1em;
    margin-left: -.1em;
    border-radius: 2px;
    font-size: .8em;
    text-transform: uppercase;
    font-weight: 500;
    top: calc(var(--baseline) * -.33);
    line-height: var(--baseline);
}

.menu--sidebar {
    & .menu__item {
        color: var(--almost-white);
        text-shadow: 1px 1px 0 rgba(0, 0, 0, .15);

        &.-active {
            color: white;
            text-shadow: none;
        }
    }

    & .menu__subtitle {
        color: white;
        background-color: rgba(0, 0, 0, .075);
    }
}

