.menu__item {
    color: var(--almost-white);
    font-size: 17px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .15);
}

.menu__item.-active {
    font-weight: 500;
    color: white;
    text-shadow: none;
}

.menu__section {
    margin-bottom: calc(var(--baseline) * 2);
}

.menu__section:last-child {
    margin-bottom: 0;
}

.menu__subtitle {
    position: relative;
    display: inline-block;
    background-color: rgba(0, 0, 0, .075);
    padding: 0 .5em;
    margin-right: -.1em;
    border-radius: 2px;
    font-size: .8em;
    text-transform: uppercase;
    font-weight: 500;
    top: calc(var(--baseline) * -.33);
}
