.sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    height: 100vh;
    width: var(--sidebar-width);
    color: white;
    text-align: right;
    padding: var(--double-baseline) 3em var(--baseline) 2em;
}

.sidebar__contents {
    position: relative;
    z-index: 1;
}

.sidebar__logo {
    display: inline-block;
    height: calc(var(--baseline) * 1.5);
    margin-bottom: calc(var(--baseline) * 1.5);
}

.sidebar__logo svg {
    height: calc(var(--baseline) * 1.5);
}

.sidebar__home {
    color: var(--almost-white);
    font-size: 17px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .15);
}

.sidebar__footer {
    margin-top: var(--double-baseline);
    font-size: .8em;
    color: var(--subtle-blue);
}

.sidebar__auth {
    margin-bottom: var(--half-baseline);
    border: none;
    padding: 0;
    color: inherit;
    font: inherit;
    outline: none;
    background: none;
    cursor: pointer;
    font-size: 25px;
    transform-origin: center bottom;
}

.sidebar__auth:hover {
    animation: wave .25s;
    animation-iteration-count: 2;
    animation-timing-function: ease-in-out;
}

@keyframes wave {
    0% { transform: rotate(0deg); }
    37.5% { transform: rotate(-15deg); }
    87.5% { transform: rotate(5deg); }
    100% { transform: rotate(0deg); }
}
