.sidebar {
    position: relative;
    color: white;
    text-align: right;
    padding: calc(var(--baseline) * 2) 4em calc(var(--baseline) * 2) 2em;
}

.sidebar__background {
    content: '';
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: var(--sidebar-width);
    background-color: #1480a1;
    background-image: url('../images/background.jpg');
    background-size: cover;
}

.sidebar__contents {
    position: relative;
    z-index: 1;
}

.sidebar__logo {
    display: inline-block;
    height: calc(var(--baseline) * 1.5);
    margin-bottom: calc(var(--baseline) * 1.5);
}

.sidebar__logo svg {
    height: calc(var(--baseline) * 1.5);
}

.sidebar__auth {
    appearance: none;
    border: none;
    padding: 0;
    color: inherit;
    font: inherit;
    background: none;
    font-size: .7em;
    cursor: pointer;
    color: #e1eff3;
}
